*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

.container{
  height: 600px;
  width: 900px;
  margin: auto;
}

.riga{
 width: 1000px;
 height: 400px;
 border: 10px solid white;
 background-position: center;
}

.prodotti{
  background-color: lightgrey;
  width: 300px;
  height: 290px;
  border: 1px solid white;
  display: inline-block;
  position: relative;
}

.box {
  position: absolute;
  background-color: green;
  top:0;
  right:0;
}

.box2{
  position: absolute;
  background-color: red;
  top:0;
  right:0;
}

.cuore {
  position: relative;
  bottom: 40px;
  color: red;
  text-align:center;
}

img:hover{
  background-color: none;
}
