*{
  margin: 0;
  padding:0;
}

.container{
  height: 600px;
  width: 900px;
  margin: auto;
}

.riga{
 width: 1000px;
 height: 360px;
 border: 10px solid white;
 background-position: center;
}

.prodotti{
  background-color: lightgrey;
  width: 300px;
  height: 290px;
  border: 1px solid white;
  display: inline-block;
}

.cuore {
  position: absolute;
  top:10px;
  color: red;
  text-align:center;
  width: 100%;
}
