*{
  margin: 0;
  padding:0;
}

.container{
  height: 600px;
  width: 900px;
  margin: auto;
}

.riga{
 width: 900px;
 height: 300px;
 border: 1px solid white;
}

.prodotti{
  background-color: lightgrey;
  width: 150px;
  height: 150px;
  border: 10px solid white;
  display: inline-block;
}
